<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 title">
                    <h2 class="text-center shadow">PLAY</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center subtitle shadow">
                    <h6 class="d-none d-sm-block">You are the Moderator!<br>(New to Moderating? <a href="/rules">Click here</a> for help!)</h6>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-body">
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div id="playerSelectionDiv">
                                        <h5>Choose number your players</h5>
                                        <h6>Select your number of players, not including yourself, and proceed to name them.</h6>
                                        <b>Number of Players:</b>
                                        <select id="numberOfPlayers">
                                            <option value="0">--Select--</option>
                                            <% for i in 1..72 %>
                                            <option value="<%= i %>"><%= i %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                    <div class="btn-div">
                                        <button id="headingTwo" class="btn btn-dark float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Next
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div id="playersDiv" style="display: block;">
                                        <h5>Name your players</h5>
                                        <h6>(Optional, unnamed players will be numbered instead)</h6>
                                        <b id="noPlayerWarning">You have not selected any players yet.</b>
                                    </div>
                                    <div class="row" id="playerSection"></div>
                                    <div class="btn-div">
                                        <button id="headingOne" class="btn btn-dark float-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Back
                                        </button>
                                        <button id="headingThree" class="btn btn-dark float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Next
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <% villagerRoles = Array.new %>
                                    <% werewolfRoles = Array.new %>
                                    <% miscRoles = Array.new %>
                                    <% j = 1 %>
                                    <% for card in @cards %>
                                        <% for i in 1..card.max %>
                                            <% if card.align == "Villager" %>
                                                <% hash = { "alert" => 'info', "divId" => j, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                                <% villagerRoles.push(hash) %>
                                            <% end %>
                                            <% if card.align == "Werewolf" %>
                                                <% hash = { "alert" => 'danger', "divId" => j, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                                <% werewolfRoles.push(hash) %>
                                            <% end %>
                                            <% if card.align == "Misc" %>
                                                <% hash = { "alert" => 'warning', "divId" => j, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                                <% miscRoles.push(hash) %>
                                            <% end %>
                                            <% j += 1 %>
                                        <% end %>
                                    <% end %>
                                    <div id="rolesDiv" style="display: block;">
                                        <h5>Build your deck</h5>
                                        <h6>Select which cards you'd like in your deck. The Point Total below helps balance your deck based on card points, try to get as close to zero as possible.</h6>
                                    </div>
                                    <div class="row" id="roleCardSelect">
                                        <div class="col-12 col-md-8">
                                            <div class="card pre-scrollable">
                                                
                                                <nav class="navbar navbar-light bg-light d-none d-sm-block" style="position: fixed; z-index: 1;">
                                                  <form class="form-inline">
                                                    Filter cards:<input class="form-control ml-sm-2" type="search" placeholder="Start typing to filter" aria-label="Search">
                                                  </form>
                                                </nav>
                                                <div class="card-body row mt-sm-5">
                                                    <% for villager in villagerRoles %>
                                                    <div class="col-12 col-lg-6">
                                                        <div id="role-<%= villager["divId"] %>" class="card text-white bg-dark m-2">
                                                            <div class="card-header">
                                                                <i class="<%= villager["image"] %>"></i>
                                                                <b><%= villager["name"]%></b>
                                                                <a id="add-role-<%= villager["divId"] %>" help="<%= villager["help"] %>" desc="<%= villager["desc"] %>" points="<%= villager["points"] %>" roleId="<%= villager["id"] %>" name="<%= villager["name"] %>" image="<%= villager["image"] %>" align="<%= villager["align"] %>" class="addRoleCard btn btn-link btn-sm float-right"><span class="fas fa-plus"></span></a>
                                                            </div>
                                                            <div class="card-body">
                                                                <b>Alignment:</b> <span class="text-<%= villager["alert"]%>"><%= villager["align"]%></span><br>
                                                                <b>Points:</b> 
                                                                <% if villager["points"] > 0 %>
                                                                    +<%= villager["points"]%>
                                                                <% else %>
                                                                    <%= villager["points"]%>
                                                                <% end %> <br>
                                                                <button type="button" class="btn btn-link btn-xs text-white" data-toggle="collapse" data-target="#desc-<%= villager["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= villager["divId"] %>">> Show card description</button><br>
                                                                <p id="desc-<%= villager["divId"] %>" class="panel-collapse collapse"><%= villager["desc"]%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% end %>
                                                    <% for werewolf in werewolfRoles %>
                                                    <div class="col-12 col-lg-6">
                                                        <div id="role-<%= werewolf["divId"] %>" class="card text-white bg-dark m-2">
                                                            <div class="card-header">
                                                                <i class="<%= werewolf["image"] %>"></i>
                                                                <b><%= werewolf["name"]%></b>
                                                                <a id="add-role-<%= werewolf["divId"] %>" help="<%= werewolf["help"] %>" desc="<%= werewolf["desc"] %>" points="<%= werewolf["points"] %>" roleId="<%= werewolf["id"] %>" name="<%= werewolf["name"] %>" image="<%= werewolf["image"] %>" align="<%= werewolf["align"] %>" class="addRoleCard btn btn-link btn-sm float-right"><span class="fas fa-plus"></span></a>
                                                            </div>
                                                            <div class="card-body">
                                                                <b>Alignment:</b> <span class="text-<%= werewolf["alert"]%>"><%= werewolf["align"]%></span><br>
                                                                <b>Points:</b> 
                                                                <% if werewolf["points"] > 0 %>
                                                                    +<%= werewolf["points"]%>
                                                                <% else %>
                                                                    <%= werewolf["points"]%>
                                                                <% end %> <br>
                                                                <button type="button" class="btn btn-link btn-xs text-white" data-toggle="collapse" data-target="#desc-<%= werewolf["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= werewolf["divId"] %>">> Show card description</button><br>
                                                                <p id="desc-<%= werewolf["divId"] %>" class="panel-collapse collapse"><%= werewolf["desc"]%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% end %>
                                                    <% for misc in miscRoles %>
                                                     <div class="col-12 col-lg-6">
                                                        <div id="role-<%= misc["divId"] %>" class="card text-white bg-dark m-2">
                                                            <div class="card-header">
                                                                <i class="<%= misc["image"] %>"></i>
                                                                <b><%= misc["name"]%></b>
                                                                <a id="add-role-<%= misc["divId"] %>" help="<%= misc["help"] %>" desc="<%= misc["desc"] %>" points="<%= misc["points"] %>" roleId="<%= misc["id"] %>" name="<%= misc["name"] %>" image="<%= misc["image"] %>" align="<%= misc["align"] %>" class="addRoleCard btn btn-link btn-sm float-right"><span class="fas fa-plus"></span></a>
                                                            </div>
                                                            <div class="card-body">
                                                                <b>Alignment:</b> <span class="text-<%= misc["alert"]%>"><%= misc["align"]%></span><br>
                                                                <b>Points:</b> 
                                                                <% if misc["points"] > 0 %>
                                                                    +<%= misc["points"]%>
                                                                <% else %>
                                                                    <%= misc["points"]%>
                                                                <% end %> <br>
                                                                <button type="button" class="btn btn-link btn-xs text-white" data-toggle="collapse" data-target="#desc-<%= misc["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= misc["divId"] %>">> Show card description</button><br>
                                                                <p id="desc-<%= misc["divId"] %>" class="panel-collapse collapse"><%= misc["desc"]%></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% end %>
                                                </div>        
                                            </div>    
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <h4>Your Deck:</h4>
                                            <b>Point Total: <span id="pointTotal" class="text-secondary">0</span></b>
                                            <div class="card pre-scrollable">
                                                <div class="card-body">
                                                    <div id="roleSection"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-div">
                                        <button id="headingTwo" class="btn btn-dark float-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Back
                                    </button>
                                        <button id="headingFour" class="btn btn-dark float-right" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            Next
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <h5>Shuffle and assign roles to your players</h5>
                                    <h6>You can only shuffle when you have an equal number of players and cards!</h6>
                                    <div id="shuffle-div" class="col-md-12 button-center">
                                        <button id="shuffle-btn" type="button" class="btn btn-success btn-lg disabled">Shuffle and Assign</button>
                                    </div>
                                    <br>
                                    <div id="game-play-div" class="col-12"></div>
                                    <div class="btn-div">
                                        <button id="headingThree" class="btn btn-dark float-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Back
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10">
                    <div class="card" id="mod-help-div">
                        <div class="card-header">
                            <h5 class="button-center"><a data-toggle="collapse" href="#mod-collapse">Moderator Help Panel</a></h5>
                        </div>
                        <div class="card-body panel-collapse collapse" id="mod-collapse">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="button-center"><i class="fas fa-moon"></i> Night Order for Your Deck</h4>
                                    <div id="nightRoleSection" class="panel-body">
                                        <p id="modOrder">You haven't built/assigned a deck yet!</p>
                                        <p id="order-9" class="hidden"><b><i class="fas fa-sync-alt"></i> Doppelganger</b> (First night only)<br></p>
                                        <p id="order-29" class="hidden"><b><i class="fas fa-meh"></i> Hoodlum</b> (First night only)<br></p>
                                        <p id="order-4" class="hidden"><b><i class="fas fa-users"></i> Mason team</b> (First night only)<br></p>
                                        <p id="order-15" class="hidden"><b><i class="fas fa-eye"></i> Beholder</b> (First night only)<br></p>
                                        <p id="order-25" class="hidden"><b><i class="fas fa-paw"></i> Pet Wolf</b> (First night only)<br></p>
                                        <p id="order-21" class="hidden"><b><i class="fas fa-paw"></i> Werewolf team</b> (Excluding Minion and Sorceress)<br></p>
                                        <p id="order-1" class="hidden"><b><i class="fas fa-search"></i> Seer</b><br></p>
                                        <p id="order-27" class="hidden"><b><i class="fas fa-search-minus"></i> Sorceress</b><br></p>
                                        <p id="order-2" class="hidden"><b><i class="fas fa-shield"></i> Bodyguard</b><br></p>
                                        <p id="order-11" class="hidden"><b><i class="fas fa-medkit"></i> Priest</b> (Only once)<br></p>
                                        <p id="order-7" class="hidden"><b><i class="fas fa-magic"></i> Witch</b> (Only has two powers to use total)<br></p>
                                        <p id="order-6" class="hidden"><b><i class="fas fa-microphone-slash"></i> Spellcaster</b><br></p>
                                        <p id="order-14" class="hidden"><b><i class="fas fa-bed"></i> Insomniac</b> (Last on purpose)</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h4 class="button-center"><i class="fas fa-exclamation"></i> Role Tips for Your Deck</h4>
                                    <div class="panel-body">
                                        <p id="modTips">You haven't built/assigned a deck yet!</p>
                                    </div>
                                </div>
                        	</div>
                    	</div>
                	</div>
                </div>
            </div>
        </div>
    </body>
</html>