<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app/assets/javascipts/application.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <h1 class="text-center shadow">PLAY</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                    <h4>New to being a Moderator? <a href="/rules" target="_blank">Click here to read the Rules page</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <div class="panel panel-default" id="playerSelectionDiv">
                        <div class="panel-heading">
                            <div class="panel-title"><a data-toggle="collapse" href="#player-collapse">1. Choose and name your players (+)</a></div>
                        </div>
                        <div class="panel-body panel-collapse collapse in" id="player-collapse">
                            <div id="playersDiv" style="display: block;">
                                <h6>Select your number of player and enter their names.</h6>
                                <b>Number of Players:</b>
                                <select id="numberOfPlayers">
                                    <option value="0">--Select--</option>
                                    <% for i in 1..72 %>
                                    <option value="<%= i %>"><%= i %></option>
                                    <% end %>
                                </select>
                            </div>
                            <br>
                            <div class="row" id="playerSection">
                            </div>
                            <div class="row button-center" id="doneButton">
                                <button class="btn btn-default" data-toggle="collapse" href="#player-collapse">Done</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default" id="roleSelectionDiv">
                        <div class="panel-heading">
                            <div class="panel-title"><a data-toggle="collapse" href="#role-collapse">2. Build your deck (+)</a></div>
                        </div>
                        <% villagerRoles = Array.new %>
                        <% werewolfRoles = Array.new %>
                        <% miscRoles = Array.new %>
                        <% for card in @cards %>
                            <% for i in 1..card.max %>
                                <% if card.align == "Villager" %>
                                    <% hash = { "alert" => 'alert-info', "divId" => i, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                    <% villagerRoles.push(hash) %>
                                <% end %>
                                <% if card.align == "Werewolf" %>
                                    <% hash = { "alert" => 'alert-danger', "divId" => i, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                    <% werewolfRoles.push(hash) %>
                                <% end %>
                                <% if card.align == "Misc" %>
                                    <% hash = { "alert" => 'alert-warning', "divId" => i, "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "max" => card.max, "desc" => card.desc} %>
                                    <% miscRoles.push(hash) %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <div class="panel-body panel-collapse collapse in" id="role-collapse">
                            <div id="rolesDiv" style="display: block;">
                                <h6>Select which cards you'd like in your deck. The Point Total below helps balance your deck based card points, try to get as close to zero as possible.</h6></h6>
                                <h4>Current Deck Point Total: <span id="pointTotal" style="color: grey">0</span></b><br><br>
                                Toggle card view:
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#villager-roles">Villager Roles</button>
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#werewolf-roles">Werewolf Roles</button>
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#misc-roles">Misc. Roles</button>
                            </div>
                            <div class="row" id="roleCardSelect">
                                <div class="col-md-12 col-sm-12">
                                    <div class="well pre-scrollable">
                                        <div id="villager-roles" class="collapse">
                                            <% for villager in villagerRoles %>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div id="role-<%= villager["divId"] %>" class="alert <%= villager["alert"] %> button-center" role="alert">
                                                    <i class="fa <%= villager["image"] %> fa-lg"></i>
                                                    <b><%= villager["name"]%></b><br>
                                                    (<%= villager["align"]%>, <%= villager["points"]%>)<br>
                                                    <button type="button" class="btn btn-link btn-xs" data-toggle="collapse" data-target="#desc-<%= villager["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= villager["divId"] %>">Card Description</button>
                                                    <button id="add-role-<%= villager["divId"] %>" help="<%= villager["help"] %>" desc="<%= villager["desc"] %>" points="<%= villager["points"] %>" roleId="<%= villager["id"] %>" name="<%= villager["name"] %>" image="<%= villager["image"] %>" align="<%= villager["align"] %>" type="button" class="addRoleCard btn btn-success btn-xs">Add to deck</button>
                                                    <p id="desc-<%= villager["divId"] %>" class="panel-collapse collapse"><%= villager["desc"]%></p>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                        <div id="werewolf-roles" class="collapse">
                                            <% for werewolf in werewolfRoles %>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div id="role-<%= werewolf["divId"] %>" class="alert <%= werewolf["alert"] %> button-center" role="alert">
                                                    <i class="fa <%= werewolf["image"] %> fa-lg"></i>
                                                    <b><%= werewolf["name"]%></b><br>
                                                    (<%= werewolf["align"]%>, <%= werewolf["points"]%>)<br>
                                                    <button type="button" class="btn btn-link btn-xs" data-toggle="collapse" data-target="#desc-<%= werewolf["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= werewolf["divId"] %>">Card Description</button>
                                                    <button id="add-role-<%= werewolf["divId"] %>" help="<%= werewolf["help"] %>" desc="<%= werewolf["desc"] %>" points="<%= werewolf["points"] %>" roleId="<%= werewolf["id"] %>" name="<%= werewolf["name"] %>" image="<%= werewolf["image"] %>" align="<%= werewolf["align"] %>" type="button" class="addRoleCard btn btn-success btn-xs">Add to deck</button>
                                                    <p id="desc-<%= werewolf["divId"] %>" class="panel-collapse collapse"><%= werewolf["desc"]%></p>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                        <div id="misc-roles" class="collapse">
                                            <% for misc in miscRoles %>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div id="role-<%= misc["divId"] %>" class="alert <%= misc["alert"] %> button-center" role="alert">
                                                    <i class="fa <%= misc["image"] %> fa-lg"></i>
                                                    <b><%= misc["name"]%></b><br>
                                                    (<%= misc["align"]%>, <%= misc["points"]%>)<br>
                                                    <button type="button" class="btn btn-link btn-xs" data-toggle="collapse" data-target="#desc-<%= misc["divId"] %>" aria-expanded="false" aria-controls="#desc-<%= misc["divId"] %>">Card Description</button>
                                                    <button id="add-role-<%= misc["divId"] %>" help="<%= misc["help"] %>" desc="<%= misc["desc"] %>" points="<%= misc["points"] %>" roleId="<%= misc["id"] %>" name="<%= misc["name"] %>" image="<%= misc["image"] %>" align="<%= misc["align"] %>" type="button" class="addRoleCard btn btn-success btn-xs">Add to deck</button>
                                                    <p id="desc-<%= misc["divId"] %>" class="panel-collapse collapse"><%= misc["desc"]%></p>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>        

                                    </div>    
                                </div>
                            </div>
                            <h4>Your Deck:</h4>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" id="roleSection">
                                </div>
                            </div>
                            <div class="row button-center" id="doneButton">
                                <button class="btn btn-default" data-toggle="collapse" href="#role-collapse">Done</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default" id="shuffleCardsDiv">
                        <div class="panel-heading">
                            <div class="panel-title">3. Shuffle and assign</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Note: You can only shuffle when you have an equal number of players and cards!</h6>
                                </div>
                                <div  id="shuffle-div" class="col-md-12 button-center">
                                    <button id="shuffle-btn" type="button" class="btn btn-success btn-lg disabled">Shuffle and Assign</button>
                                </div>
                            </div><br>
                            <div class="row">
                                <div  id="game-play-div" class="col-md-12 button-center">
                                </div>
                            </div>
                        </div>
                    </div>
            

                    <div class="panel panel-default" id="mod-help-div">
                        <div class="panel-heading">
                            <div class="panel-title"><a data-toggle="collapse" href="#mod-collapse">Moderator Help Panel</a></div>
                        </div>
                        <div class="panel-body panel-body panel-collapse collapse button-center" id="mod-collapse">
                            Helpful tools for the Moderator!
                        
                            <h3><i class="fa fa-moon-o"></i> Night Order for Your Deck</h3>
                            <div class="row">
                                <div class="col-xs-0 col-sm-2"></div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="panel panel-default" style="text-align: left">
                                        <div id="nightRoleSection" class="panel-body">
                                            <p id="modOrder">You haven't built/assigned a deck yet!</p>
                                            <p id="order-9" class="hidden"><b><i class="fa fa-refresh"></i> Doppelganger</b> (First night only)<br></p>
                                            <p id="order-29" class="hidden"><b><i class="fa fa-meh-o"></i> Hoodlum</b> (First night only)<br></p>
                                            <p id="order-4" class="hidden"><b><i class="fa fa-user-o"></i> Mason team</b> (First night only)<br></p>
                                            <p id="order-15" class="hidden"><b><i class="fa fa-eye"></i> Beholder</b> (First night only)<br></p>
                                            <p id="order-25" class="hidden"><b><i class="fa fa-paw"></i> Pet Wolf</b> (First night only)<br></p>
                                            <p id="order-21" class="hidden"><b><i class="fa fa-paw"></i> Werewolf team</b> (Excluding Minion and Sorceress)<br></p>
                                            <p id="order-1" class="hidden"><b><i class="fa fa-search"></i> Seer</b><br></p>
                                            <p id="order-27" class="hidden"><b><i class="fa fa-search-minus"></i> Sorceress</b><br></p>
                                            <p id="order-2" class="hidden"><b><i class="fa fa-shield"></i> Bodyguard</b><br></p>
                                            <p id="order-11" class="hidden"><b><i class="fa fa-medkit"></i> Priest</b> (Only once)<br></p>
                                            <p id="order-7" class="hidden"><b><i class="fa fa-magic"></i> Witch</b> (Only has two powers to use total)<br></p>
                                            <p id="order-6" class="hidden"><b><i class="fa fa-microphone-slash"></i> Spellcaster</b><br></p>
                                            <p id="order-14" class="hidden"><b><i class="fa fa-bed"></i> Insomniac</b> (Last on purpose)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-0 col-sm-2"></div>
                            </div>
                            
                            <h3><i class="fa fa-exclamation"></i> Role Tips for Your Deck</h3>
                            
                            <div class="row">
                                <div class="col-xs-0 col-sm-2"></div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="panel panel-default" style="text-align: left">
                                        <div class="panel-body">
                                            <p id="modTips">You haven't built/assigned a deck yet!</p>
                                        </div>
                                    </div>
                                </div>
                            	<div class="col-xs-0 col-sm-2"></div>
                        	</div>
                    	</div>
                	</div>
                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h2><i class="fa fa-paw fa-lg fa-spin-hover"></i></h2>
                </div>
            </div>
        </div>
    </body>
</html>