<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <h1 class="text-center shadow">CARDS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                    <h4>Browse all the available roles.</h4>
                    <h6><i class="fa fa-moon-o"></i> = Takes action during night<br><i class="fa fa-sun-o"></i> = Takes action during day<br><i class="fa fa-bolt"></i> = Takes action only once<br><i class="fa fa-times"></i> = Does not take an action<br></h6>
                </div>
            </div>
            
            <% villagerRoles = Array.new %>
            <% werewolfRoles = Array.new %>
            <% miscRoles = Array.new %>
            <% for card in @cards %>
                <% if card.align == "Villager" %>
                    <% hash = { "id" => card.id, "color" => 'info', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "icon" => card.icon, "points" => card.points, "action" => card.action} %>
                    <% villagerRoles.push(hash) %>
                <% end %>
                <% if card.align == "Werewolf" %>
                    <% hash = { "id" => card.id, "color" => 'danger', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "icon" => card.icon, "points" => card.points, "action" => card.action} %>
                    <% werewolfRoles.push(hash) %>
                <% end %>
                <% if card.align == "Misc" %>
                    <% hash = { "id" => card.id, "color" => 'warning', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "icon" => card.icon, "points" => card.points, "action" => card.action} %>
                    <% miscRoles.push(hash) %>
                <% end %>
            <% end %>
            
            <!--Panel goes here-->
            
            
                    
            
            <div class="row">
                <div class="col-sm-0 col-md-2 text-center"></div>
                <div class="col-sm-12 col-md-8 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Toggle view:
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#villager-roles">Villager Roles</button>
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#werewolf-roles">Werewolf Roles</button>
                                <button class="btn btn-link button-center" data-toggle="collapse" data-target="#misc-roles">Misc. Roles</button>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="villager-roles" class="collapse in">
                                <% for villager in villagerRoles %>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="alert alert-<%= villager["color"] %> button-center" role="alert">
                                        <a class="btn btn-link" href="/cards/<%= villager["id"] %>"><b><i class="fa <%= villager["icon"] %> fa-lg"></i> <%= villager["name"]%></b></a><br>
                                        (<%= villager["align"]%>,
                                        <% if villager["points"] > 0 %>
                                            +<%= villager["points"]%>,
                                        <% else %>
                                            <%= villager["points"]%>,
                                        <% end %> 
                                        <% if villager["action"] == 'night' %>
                                            <i class="fa fa-moon-o" title="Night action"></i>)
                                        <% elsif villager["action"] == 'day' %>
                                            <i class="fa fa-sun-o" title="Day action"></i>)
                                        <% elsif villager["action"] == 'once' %>
                                            <i class="fa fa-bolt" title="One action"></i>)
                                        <% else %>
                                            <i class="fa fa-times" title="No action"></i>)
                                        <% end %>
                                        <br>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                            <div id="werewolf-roles" class="collapse in">
                                <% for werewolf in werewolfRoles %>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="alert alert-<%= werewolf["color"] %> button-center" role="alert">
                                        <a class="btn btn-link" href="/cards/<%= werewolf["id"] %>"><b><i class="fa <%= werewolf["icon"] %> fa-lg"></i> <%= werewolf["name"]%></b></a><br>
                                        (<%= werewolf["align"]%>, 
                                        <% if werewolf["points"] > 0 %>
                                            +<%= werewolf["points"]%>,
                                        <% else %>
                                            <%= werewolf["points"]%>,
                                        <% end %> 
                                        <% if werewolf["action"] == 'night' %>
                                            <i class="fa fa-moon-o" title="Night action"></i>)
                                        <% elsif werewolf["action"] == 'day' %>
                                            <i class="fa fa-sun-o" title="Day action"></i>)
                                        <% elsif werewolf["action"] == 'once' %>
                                            <i class="fa fa-bolt" title="One action"></i>)
                                        <% else %>
                                            <i class="fa fa-times" title="No action"></i>)
                                        <% end %>
                                        <br>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                            <div id="misc-roles" class="collapse in">
                                <% for misc in miscRoles %>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="alert alert-<%= misc["color"] %> button-center" role="alert">
                                        <a class="btn btn-link" href="/cards/<%= misc["id"] %>"><b><i class="fa <%= misc["icon"] %> fa-lg"></i> <%= misc["name"]%></b></a><br>
                                        (<%= misc["align"]%>, 
                                        <% if misc["points"] > 0 %>
                                            +<%= misc["points"]%>,
                                        <% else %>
                                            <%= misc["points"]%>,
                                        <% end %>
                                        <% if misc["action"] == 'night' %>
                                            <i class="fa fa-moon-o" title="Night action"></i>
                                        <% elsif misc["action"] == 'day' %>
                                            <i class="fa fa-sun-o" title="Day action"></i>)
                                        <% elsif misc["action"] == 'once' %>
                                            <i class="fa fa-bolt" title="One action"></i>)
                                        <% else %>
                                            <i class="fa fa-times" title="No action"></i>)
                                        <% end %>
                                        <br>
                                    </div>
                                </div>
                                <% end %>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-2 text-center"></div>
            </div>
            <div class="row">
            </div>
        </div>
    </body>
</html>