<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 title">
                    <h2 class="text-center shadow">CARDS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center subtitle shadow">
                    <h6 class="d-none d-sm-block">Browse all the available roles. Click a role's name to view the full card.</h6>
                </div>
            </div>
            
            <% cards = Array.new %>
            <% for card in @cards %>
                <% if card.align == "Villager" %>
                    <% hash = { "id" => card.id, "color" => 'info', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "action" => card.action} %>
                    <% cards.push(hash) %>
                <% end %>
                <% if card.align == "Werewolf" %>
                    <% hash = { "id" => card.id, "color" => 'danger', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "action" => card.action} %>
                    <% cards.push(hash) %>
                <% end %>
                <% if card.align == "Misc" %>
                    <% hash = { "id" => card.id, "color" => 'warning', "help" => card.help, "id" => card.id, "name" => card.name, "align" => card.align, "image" => card.image, "points" => card.points, "action" => card.action} %>
                    <% cards.push(hash) %>
                <% end %>
            <% end %>
  
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10">
                    <div class="card pre-scrollable" style="max-height: 680px">
                        <div class="card-body row">
                            <% for card in cards %>
                            <div class="col-12 col-lg-4">
                                <div id="role-<%= card["divId"] %>" class="card text-white bg-dark m-2">
                                    <div class="card-header">
                                        <a href="/cards/<%= card["id"] %>" class="text-white">
                                            <i class="<%= card["image"] %>"></i>
                                            <b><%= card["name"]%></b>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <b>Alignment:</b> <span class="text-<%= card["color"]%>"><%= card["align"]%></span><br>
                                        <b>Points:</b> 
                                        <% if card["points"] > 0 %>
                                            +<%= card["points"]%>
                                        <% else %>
                                            <%= card["points"]%>
                                        <% end %> <br>
                                       
                                        <% if card["action"] == 'night' %>
                                            Takes their action during night
                                        <% elsif card["action"] == 'day' %>
                                            Takes action during the day
                                        <% elsif card["action"] == 'once' %>
                                            Only takes their action once
                                        <% else %>
                                            Does not take an action
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>        
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>