<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8">
                    <div class="card text-white bg-dark mb-3 mt-5">
                          <div class="card-header">
                            <h2 class="text-center"><%= @card.name %></h2>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h5>(<%= @card.align %>, 
                                <% if @card.points > 0 %>
                                +<%= @card.points %>
                                <% else %>
                                <%= @card.points %>
                                <% end %>
                                <% if @card.points == 1 || @card.points == -1 %>
                                pt)
                                <% else %>
                                pts)
                                <% end %>
                                </h5>    
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12 col-md-4 text-center subtitle">
                                    <span class="fa-stack fa-5x">
                                        <% if @card.align == 'Villager' %>
                                            <i class="fa fa-square fa-stack-2x text-info"></i>  
                                            <i class="<%= @card.image %> fa-stack-1x fa-lg"></i>
                                        <% elsif @card.align == 'Werewolf'  %>
                                            <i class="fa fa-square fa-stack-2x text-danger"></i> 
                                            <i class="<%= @card.image %> fa-stack-1x "></i>
                                        <% elsif @card.align == 'Misc' || @card.align == 'Item' %>
                                            <i class="fa fa-square fa-stack-2x text-warning"></i> 
                                            <i class="<%= @card.image %> fa-stack-1x "></i>
                                        <% end %>
                                    </span>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <% if @card.align == 'Villager' %>
                                    <%= @card.name %> is on the Villager team. They win when they and the other villagers have killed all players on the Werewolf team during the day or night.
                                    <% elsif @card.align == 'Werewolf'  %>
                                    <%= @card.name %> is on the Werewolf team. They win when they and the other werewolves have killed all players on the Villager team during the day or night.
                                    <% elsif @card.align == 'Misc' || @card.align == 'Item' %>
                                    <%= @card.name %> is on the Miscellaneous team. They can win under specific circumstances, and don't necessarily have to help the Villager or Werewolf team to win.
                                    <% end %>
                                    <br><br>
                                    <h5><b>Role:</b></h5> <%= @card.desc %>
                                    <br><br>
                                    <h5><b>Action Rules:</b></h5> 
                                    <% if @card.action == 'once' %>
                                    You can only perform your action once per game.
                                    <% elsif @card.action == 'none' %>
                                    You do not perform any action.
                                    <% else %>
                                    You perform your action during the <%= @card.action %>.
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>