<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Main Page</title>
        <!-- application CSS -->
        <link rel="stylesheet" href="app/asset/stylesheets/application.css">
        <!-- font-awesome CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <a class="btn btn-default left-align" href="/" role="button">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                    <a class="btn btn-default left-align" href="/cards" role="button">
                        <i class="fa fa-id-card-o fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 title">
                    <h1 class="text-center shadow"> <%= @card.name %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center subtitle shadow">
                    <h4>(<%= @card.align %>, 
                    <% if @card.points > 0 %>
                    +<%= @card.points %>
                    <% else %>
                    <%= @card.points %>
                    <% end %>
                    <% if @card.points == 1 || @card.points == -1 %>
                    pt)
                    <% else %>
                    pts)
                    <% end %>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-0 col-md-2 text-center"></div>
                <div class="col-sm-12 col-md-2 text-center subtitle">
                    <span class="fa-stack fa-5x">
                    <i class="fa fa-square fa-stack-2x"></i>
                        <% if @card.align == 'Villager' %>
                            <i class="fa <%= @card.image %> fa-stack-1x text-info fa-lg"></i>
                        <% elsif @card.align == 'Werewolf'  %>
                            <i class="fa <%= @card.image %> fa-stack-1x text-danger"></i>
                        <% elsif @card.align == 'Misc' || @card.align == 'Item'  %>
                            <i class="fa <%= @card.image %> fa-stack-1x text-warning"></i>
                        <% end %>
                    </span>
                </div>
                <div class="col-sm-12 col-md-6 subtitle shadow">
                    
                    
                    <h4>Role:</h4> <%= @card.desc %>
                    <br><br>
                    <h4>Action Rules:</h4> 
                    <% if @card.action == 'once' %>
                    You can only perform your action once per game.
                    <% elsif @card.action == 'none' %>
                    You do not perform any action.
                    <% else %>
                    You perform your action during the <%= @card.action %>.
                    <% end %>
                    
                    
                </div>
                <div class="col-sm-0 col-md-2 text-center"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center title shadow">
                    <h2><i class="fa fa-paw fa-lg fa-spin-hover"></i></h2>
                </div>
            </div>
        </div>
    </body>
</html>